@charset "UTF-8";
/* ページ内リンクの位置調整 */
section {
  margin-top: -60px;
  padding-top: 60px;
}

/* md 未満まで幅100%，md 以上で幅が720pxに固定されるコンテナ */
.custom-container-md {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .custom-container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .custom-container-md {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .custom-container-md {
    max-width: 720px;
  }
}
